@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: yellow;
    text-align: center;
}

h3 {
    color: pink;
    text-align: center;
}

h4 {
    color: green;
    text-align: center;
}

h5 {
    color: purple;
    text-align: center;
}

h6 {
    color: orange;
    text-align: center;
}

div.intro {
    text-align: center;
    border-top: 2px blue solid;
    border-left: 4px red dashed;
    border-bottom: 8px blue solid;
    border-right: 16px red dotted;
    border-radius: 32%;
}

div.list {
    text-align: center;
    border: 2px solid;
    padding: 0px;
    margin: 0px;
    font-family: roboto;
}

div.textBox {
    text-align: center;
}

ul.listElements {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: 2px dashed;
    border-top: 5px solid;
}

footer.footer {
    text-align-last: center;
}
