@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: red;
}

h2 {
    color: yellow;
    margin: 0px;
}

h3 {
    color: pink;
}

h4 {
    color: green;
}

h5 {
    color: purple;
}

h6 {
    color: orange;
}

div.intro {
    text-align: center;
    border-top: 2px blue solid;
    border-left: 4px red dashed;
    border-bottom: 8px blue solid;
    border-right: 16px red dotted;
    border-radius: 32%;
}

main {
    font-family: roboto;
}

div.list {
    margin-top: 55px;
    border: 2px solid;
}

ul.listElements {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

footer.footer {
    font-style: italic;
}

body {
    background-color: rgb(32, 32, 32);
    color: rgb(185, 185, 185);
    text-align: center;
}
