@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: red;
}

h2 {
    color: yellow;
    margin: 0px;
}

h3 {
    color: pink;
}

h4 {
    color: green;
}

h5 {
    color: purple;
}

h6 {
    color: orange;
}

div.intro {
    text-align: center;
    border-top: 2px blue solid;
    border-left: 4px red dashed;
    border-bottom: 8px blue solid;
    border-right: 16px red dotted;
    border-radius: 32%;
    padding: 15px;
    margin: 15px;
}

main {
    font-family: roboto;
}

div.list {
    margin: 15px 25px;
    padding: 5px 10px;
    border: 2px solid;
    display: inline-flex;
    flex-direction: column;
}

footer.footer {
    font-style: italic;
}

body {
    background-color: rgb(32, 32, 32);
    color: rgb(185, 185, 185);
    text-align: center;
}

.debugOutline {
    outline: 3px red solid;
    outline-offset: 2px;
}

button {
    background-color: rgb(128, 128, 128);
    /* color: rgb(255, 255, 255); */
}

.rowContainer {
    display: inline-flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.containerItem {
    margin: auto;
    padding: 5px 10px;
    /* background-color: rgb(16, 16, 16); */
}
